# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Binary files
*.bin
*.ppm

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directory
build
data
__pycache__/

# Log file
*.log
*.json
*.pt
*.perf.txt

# vscode directory
.vscode

# Archive files
*.zip
*.tar
*.tar.gz

# Misc
BelleGroup-train_2M_CN
.gpt
